<center>
    <div class="col-sm-12">
        <p id="tik" style="font-size: 50px;color: forestgreen;"></p><br />
        <p id="time" style="font-size: 50px;color: crimson;"></p>
    </div>
</center>
<script> var curr = new Date("July 26, 2020").getTime();

    var t = setInterval(function () {
        var now = new Date().getTime();
        var distance = curr - now;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        if (distance < 0) {

            document.getElementById("tik").innerHTML = "Contest has ended";

        }
        else {
            document.getElementById("tik").innerHTML = "Contest ends in:";
            document.getElementById("time").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";
        }

    }, 1000)</script>
</body>


</html>