<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../public//MainStyle.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Odyssey Quiz</title>
  <link rel="shortcut icon" type="image/x-icon" href="../public/MainPage.html">
</head>

<body>
  <header>
    <div class="headerbox">
      <div class="Odyssey">
        <p>Odyssey</p>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <% if(!currentUser){ %>
        <li><a href="/login">Sign in</a></li>
        <li><a href="/register">Sign up</a></li>
        <%}else{%>}
        <li><a href="#">Signed in as <%=currentUser.username%></a></li>
        <li><a href="/logout">Logout</a></li>
        <%}%>
        <li><a href="/quiz/leaderboard">LeaderBoard</a></li>
      </ul>
    </div>
  </header>

  <h1>ODYSSEY</h1>
  <p class="subtext">A journey through spacetime!</p>
  <a type="button" href="/quiz" class="button" value="Input Button">Start now</a>
   <%- include('./partials/footer') %>