<%- include("partials/header")%>
<div class="jumbotron" style="background-color: lightskyblue; margin-bottom: 50%;">
  <center>
    <h1 style="font-family: cursive; font-size: 100px;">Odyssey</h1>
    <p style="font-family: fantasy; font-size: 60px;">
      A journey through space!
    </p>

    <a type="button" class="btn btn-lg" href="/quiz" style="
        vertical-align:auto;
        background-color: rgb(253, 172, 67);
        color: rgb(3, 83, 50);
        font-size: 40px;
      ">Start</a>
  </center>
</div>
<%- include('partials/footer') %>