<!DOCTYPE html>
<html>
    <head>
        <title>Not verified</title>
    </head>
    <body>
        <h1>Entered credentials are invalid or the email is not verified</h1>
        <h2>Check your inbox and try again</h2>
        <a href="/login">Login Page</a>
    </body>
</html>