<!DOCTYPE html>
<html>
    <head>
        <title>Login error</title>
    </head>
    <center>
        <body style="background-color: rgb(13, 155, 84); ">
            <div style="padding-top: 10%;">
                <h1>Entered credentials are invalid or the email is not verified</h1>
        <h2>Check your inbox and try again</h2>
            <button style="padding: 10px;background-color: darkorange;" ><a href="/login"><b>Login Page</b></a></button>
        </div>
        </body>
    </center>
</html>