<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../public/MainStyle.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Odyssey - Sign Up</title>
  <link rel="shortcut icon" type="image/x-icon" href="../public/K-logo.png">
</head>

<body>
  <header>
    <%if(title!=null){%>
    <div class="od"><a id="club" href="/"
        style="color: dodgerblue;font-style: oblique;font-weight: bold;font-size: 45px;"><%=title%></a><br />
      <%}else{%>
      <div class="od"><a id="club" href="/"
          style="color: dodgerblue;font-style: oblique;font-weight: bold;font-size: 45px;">Quiz</a><br />
        <%}%>
      <ul>

        <% if(!currentUser){ %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/register">Sign up</a></li>
        <%}else{%>}
        <li><a href="#">Signed in as <%=currentUser.username%></a></li>
        <li><a href="/logout">Logout</a></li>
        <%}%>
        <li style="margin-right: 0px;"><a href="/quiz/leaderboard" style="margin-right: 0px;">LeaderBoard</a></li>
      </ul>
    </div>
    </div>
  </header>

  <p
    style="font-size: medium; color: antiquewhite; font-family: 'Courier New', Courier, monospace; text-align: center;margin-top: 30px;">
    Welcome! Enter your deatils here!</p>
  <div class="container">
    <form class="form-signin" action="/register" method="POST">
    <label for="username" class="label"><b>Username</b></label><br>
    <input type="text" placeholder="Enter Username" name="username" required class="input"><br><br>

    <label for="password" class="label"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="password" required class="input"><br>

    <button type="submit" class="buttonn">Sign up</button>
    </form>
  </div>
  <%- include('./partials/footer') %>