<%- include("./partials/header")%>


<div class="container" style="width: 60%;margin-bottom: 50%;">

  <center>
    <div class=" card card-signin my-5">
      <div class="card-body">
        <h1 class="card-title text-center" style="font-size: 65px">Hello!</h1>
        <form class="form-signin" action="/register" method="POST">
          <div class="form-label-group">
            <input type="username" id="inputEmail" class="form-control"
              style="width: 50%;font-size: 30px;margin-top: 5px;" name="username" placeholder="username" required
              autofocus>

          </div>

          <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control"
              style="width: 50%;font-size: 30px;margin-top: 5px;" name="password" placeholder="Password" required
              style="margin-top: 5px;">

          </div>


          <button class="btn btn-md btn-primary btn-block text-uppercase" type="submit"
            style="width: 50%;font-size: 30px;margin-top: 5px;">Sign up</button>
          <hr class="my-4">
          <!-- <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> -->
        </form>
      </div>
    </div>
  </center>
  <!-- </div>
      </div> -->
</div>




<%- include("./partials/footer")%>