<html>
    <head>
    <title>admin</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <form action="/quiz/adminlogin" method="POST">
    <input type="text" placeholder="username" name="username"></input>
<input type="password" placeholder="password" name="password"></input>
<button type="submit">Log in</button>
    </form>
</body>
</html>