<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" type="image/x-icon" href="../../public/K-logo.png">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../public/MainStyle.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Odyssey - Leaderboard</title>

</head>

<body>
  <header>
    <div class="headerbox">
      <div class="Odyssey">
        <p>Odyssey</p>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <% if(!currentUser){ %>
        <li><a href="/login">Sign in</a></li>
        <li><a href="/register">Sign up</a></li>
        <%}else{%>}
        <li><a href="#">Signed in as <%=currentUser.username%></a></li>
        <li><a href="/logout">Logout</a></li>
        <%}%>
        <li><a href="/quiz/leaderboard">LeaderBoard</a></li>
      </ul>
    </div>
  </header>
  <center>
    <div class="row" style="font-size: 60px;font-weight: bolder;color:darkseagreen">
      <div class="col sm-4">Rank</div>
      <div class="col sm-4">Name</div>
      <div class="col sm-4">Score</div>
    </div>
    <%var x=1;user.forEach(function(user){%>
        <div class="row" style="font-size: 45px;font-weight: normal;color: darkkhaki;">
          <div class=" col sm-4"><%=x%></div>
          <div class="col sm-4"><%=user.username%></div>
          <div class="col sm-4"><%=user.score%></div>
        </div>
        <%x=x+1})%>
        </center>
        <center>
          <div class="col-sm-12">
            <p id="tik" style="font-size: 50px;color: forestgreen;"></p><br />
            <p id="time" style="font-size: 50px;color: crimson;"></p>
          </div>
        </center>
        <script> var curr = new Date("May 23, 2020 24:00:00").getTime();

          var t = setInterval(function () {
            var now = new Date().getTime();
            var distance = curr - now;


            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            if (distance < 0) {

              document.getElementById("tik").innerHTML = "Contest has ended";

            }
            else {
              document.getElementById("tik").innerHTML = "Contest ends in:";
              document.getElementById("time").innerHTML = hours + "h "
                + minutes + "m " + seconds + "s ";
            }

          }, 1000)</script>
</body>

</html>